.card {
    border: 0;
    
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; 
}

.carousel {
    border: solid black; 
}

.card-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
}

.footer {
    text-transform: uppercase;
}

.btnFood {
    padding: 20px 30px;
    margin: 0px 15px;
    border: 3px solid rgb(59, 54, 54);
    background-color: #f0eee8;
    text-transform: uppercase;
}

.btnFood:hover {
    color: white;
    background-color: rgb(3, 107, 15);
}